---
import { Picture, getImage } from 'astro:assets';
import BaseButton  from '../ui/BaseButton.astro';
import defaultVolImg from '../../assets/images/volsc_img.png';
import defaultVolBg from '../../assets/images/volsc_bg.png';

interface Props {
  Volsecimg?: ImageMetadata;
  Volsecbg?: ImageMetadata;
  vol_subtitle?: string;
  vol_title?: string;
  vol_para?: string;
  vol_link?: string;
}

const {
  Volsecimg = defaultVolImg,
  Volsecbg = defaultVolBg,
  vol_subtitle = 'MANUAL VOLUME 1',
  vol_title = 'Chapter 3 Intuition',
  vol_para = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non tempor nulla. Nam risus dui, rhoncus id orci in, pellentesque viverra quam. Sed congue laoreet tortor, in egestas metus imperdiet quis. Quisque a neque ut sem egestas rutrum eget a orci. Vestibulum quis erat vel lorem consequat pretium. Pellentesque non accumsan turpis. Pellentesque est nunc, imperdiet tincidunt tellus sit amet, luctus fringilla risus. Phasellus sit amet nulla non eros elementum ultricies in nec velit.',
} = Astro.props;

const optimizedVolBg = await getImage({
  src: Volsecbg,
  format: 'avif',
  width: 1601,
});
---

<section class="volume-section">
  <div class="container">
    <div class="volume-wrap">
      <div
        class="volume-inner"
        style={`background-image: url(${optimizedVolBg.src});`}
      >
        <div class="volume-content">
          <h4>{vol_subtitle}</h4>
          <h2>{vol_title}</h2>
          <p>{vol_para}</p>
          <BaseButton  href="#" variant="primary" text="READ FREE SAMPLE" target="_blank" />
        </div>
        <div class="volume-image">
          <Picture src={Volsecimg} alt={vol_title} formats={['avif', 'webp']}/>
        </div>
      </div>
    </div>
  </div>
</section>

<style >
  .volume-section {
    padding: 200px 0 100px;
    margin-top: -80px;
    background: linear-gradient(180deg, var(--color-crimson-0) 0%, var(--color-crimson-40) 60%);
    overflow: hidden;
  }

  .volume-wrap {
    position: relative;
    z-index: 1;
    padding: 5px;
  }

  .volume-wrap::before {
    position: absolute;
    content: '';
    background: linear-gradient(
      90deg,
      var(--color-gold-1) 0%,
      var(--color-gold-2) 18%,
      var(--color-gold-3) 41%,
      var(--color-gold-4) 66%,
      var(--color-gold-5) 100%
    );
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 16px;
  }

  .volume-inner {
    display: flex;
    align-items: center;
    padding: 0 20px 0 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
  }
    .volume-inner  .volume-content{
      padding: 40px 0;
    }

  .volume-image {
    flex: 0 0 auto;
    width: 720px;
    margin-bottom: -65px;
    margin-top: -120px;
  }

  .volume-content {
    text-align: center;
  }

  .volume-content h4 {
    color: var(--color-white-100);
    font-size: 25px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.3em;
    text-transform: uppercase;
  }

  .volume-content h2 {
    margin-top: 15px;
  }

  .volume-content a {
    margin-top: 25px;
  }

  
  /* ── Responsive ──────────────────────────────────────────────── */
  @media (max-width: 1900px) {
    .volume-image{
      width: 540px;
      margin-bottom: -105px;
    }
    .volume-inner {
        padding: 0 20px 0 40px;
    }
    .form-cartoon {
          margin-top: -300px;
          margin-inline: -100px;
      }
  }
  @media (max-width: 1399px) {
    .volume-inner{
      align-items: flex-end;
    }
    .volume-image {
        margin-bottom: -50px;
    }
  }
  @media (max-width: 1199px) {
    .volume-image {
        margin-right: -80px;
    }
  }
  @media (max-width: 991px)  {
    .volume-inner {
      padding: 10px 20px 0;
        flex-direction: column;
        align-items: center;
    }
    .volume-image {
    margin-right: -40px;
    margin-top: -40px;
}
  }
  @media (max-width: 767px)  {
    .volume-section {
        padding: 120px 0 40px;
        margin-top: -80px;
    }
    .volume-content h4{
      font-size: 15px;
    }
    .volume-content p{
      margin-top: 10px;
    }
    .volume-image{
      width: 350px;
      margin-bottom: -33px;
    }
    .volume-content h2{
      margin-top: 5px;
    }
    .volume-inner{
      padding: 40px 15px 0;
    }
    .volume-inner .volume-content{
      padding-top: 0;
    }
  }
</style>
